.item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border: none;
}

.item-container input {
  border-radius: var(--border-radius);
  background-color: #fff;
  border: 1px solid #000;
}

.edit-item {
  background-color: transparent;
  border: none;
}

label {
  margin-right: 0.3rem;
}

.item-input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.textarea {
  height: max-content;
  position: relative;
}
.textbox {
  border: none;
}

.edit-actions {
  margin-right: 0;
  border-left: none;
  border-bottom-left-radius: 0;
}

.textarea-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  border-left: none;
  border-bottom: none;
  border-bottom-left-radius: 0;
}

.edit-button {
  height: 100%;
  margin: 0.5rem auto;
  border-radius: var(--border-radius);
  padding: 0.3rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  width: max-content;
  text-align: center;
  font-size: 1.4rem;
  border: none;
}

.edit-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: lightgray;
  text-decoration: none;
  transform: translateY(-2px);
}
